<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/dog_style.css" type="text/css" />
	<title>Dogs</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/dogs.js"></script>
</head>

<body>

	<div class="container text-center main-text">
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive" src="/assets/img/dog.jpg" alt="Dog Picture">
				<h1 class="display-4">Order a Dog!</h1>
				<p class="lead">Order a Dog and Take it Home!</p>
			</div>
		</div>
	</div>
	{{{ body }}}
	
</body>

</html>